[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
python-dotenv = "*"
requests = "*"
tqdm = "*"
click = "*"
swc = {editable = true, path = "."}

[dev-packages]
jupyterlab = "*"
twine = "*"
bumpversion = "*"
wheel = "*"
"e1839a8" = {path = ".", editable = true}

[requires]
python_version = "3.6"

[scripts]
bdist = "python setup.py bdist_wheel"
